extends layout

block content
  
  div.container
    //Catchy stuff at the top of the homepage
    .row
      div.col-lg-6.pt-5
        h1.font-weight-bold
          | Reach your Target <br> Audience
        p
          | The most reliable way to engage your at all times. 
        button.indexBtn.shadow
          | Send SMS

      div.col-lg-6.p-3
        img.img-fluid(src='/images/Main_Illustration.png', alt='Top Image')

    .row.my-5
      div.col-lg-4.col-md-6.pt-5
        img.img-fluid(src='/images/Connectivity_Icon.png')
        h3.pt-5.font-weight-bold
            | Connectivity <br> to all networks
        p
            | Connect directly <br> with all networks. <br> No roaming links <br> or grey-routes.
        
      div.col-lg-4.col-md-6.pt-5
        img.img-fluid(src='/images/Customer_Service_Icon@2x.png')
        h3.pt-5.font-weight-bold
            | Excellent <br> support staff 
        p
            | Immediate attention <br> is paid to all customer <br> issues and resolved <br> ASAP. 
        
      div.col-lg-4.col-md-6.pt-5
        img.img-fluid(src='/images/Cedi_Icon@2x.png')
        h3.pt-5.font-weight-bold
            | Competitive <br> pricing
        p
            | Get the best <br> pricing mix of <br> bundles and pay-as-you-go <br> plans for all <br> campaigns. 

  .container-fluid(style='background-color: #2f2e41cc; color: #fff; padding-top: 5rem; padding-bottom: 5rem;')
    .container.blackContainer
      .row.d-flex-justify-content-center
        div.col-md-6.py-5
          h5.pt-5.font-weight-bold
              | Stay connected with your audience
          p
              | Connect with your customers. <br> Upload and send messages to your <br> customers from Microsoft Excel (.xls, xlsx, .csv) <br> and notepad (.txt).

        div.col-md-6
          img.img-fluid(src='/images/Illustration1.png', alt='Top Image')
        
        
      .row
        div.col-md-6
          img.img-fluid.float-left(src='/images/Illustration2.png', alt='Top Image')

        div.col-md-6.py-5.pl-5
          h5.pt-5.font-weight-bold
              | Make it personal
          p
              | Set your business apart from the competition. <br> Include personal details of your customers <br> in your SMS messages to make them feel <br> valued and appreciated.
      
      .row
        div.col-md-6.py-5
          h5.pt-5.font-weight-bold
              | Schedule your messages
          p
              | Schedule birthday & anniversary wishes, <br> customer alerts on important milestones <br> or workflows, send daily/ weekly tit-bits,<br> share service reminders <br> (expiry or renewal updates) <br> or design your own automated messages.

        div.col-md-6
          img.img-fluid(src='/images/Illustration3.png', alt='Top Image')
      
      .row
        div.col-md-6
          img.img-fluid.float-left(src='/images/Illustration5.png', alt='Top Image')

        div.col-md-6.py-5.pl-5
          h5.pt-5.font-weight-bold
              | Implement the Reach API
          p
              | Connect to Reach's SMS API to deliver messages <br> directly from your own application or system. <br> All your application needs is a simple internet  <br> connection and the help of a software developer <br> to integrate Reach's programming interfaces <br> into your systems.

  .row.my-5
    .col-lg-12.text-center
      h3.font-weight-bold
        | pricing Packages
      p
        | Fast & Flexible 

  .row.d-flex.justify-content-center
    .col-md-6
      table.table.table-bordered.shadow
        thead
          tr
            th.w-50
              | Bundle (msg)
            th.w-50
              | Price (c)
        tbody
          tr
            td
              | 400
            td
             | 10.00
          tr
            td
              | 2,500
            td
              | 50.00
          tr
            td
              | 5,000
            td
              | 100.00
          tr
            td
              | 15,000
            td
              | 300.00
          tr
            td
              | 30,000
            td
              | 500.00
          tr
            td
              | 60,000
            td
              | 1,000.
  
  .row.my-5.d-flex.justify-content-center
    .col-lg-6.text-center
      button.PASYGBtn.my-3
        | PAY-AS-YOU-GO
      h3.font-weight-bold
        | c0.05
      p
        | per messages to all local networks
      button.indexBtn.shadow
        | SendSMS
                 
       


