extends layout

block content
    
    //Catchy stuff at the top of the homepage
    .catchy-top
      div.catchy-top-left
        h2 
          | Something for the boys
        p
          | Lorem ipsum dolor color bacon

      div
        img.img-fluid(src='/images/1.png', alt='Top Image')

    div.text-center
      h2
        | Some Heading
      div.row
        .col-sm-12.col-md-4.col-lg-4
          | A
        .col-sm-12.col-md-4.col-lg-4
          | B
        .col-sm-12.col-md-4.col-lg-4
          | C


